html {
background: #e3e3e3;

}

body {
font-family: Georgia, 'Times New Roman', Times, serif;
margin: 40px;
padding: 40px;
color: #242424;
border-top: 10px solid #242424;
background: #fff;

}

h1{
font-size: 2cm;
margin: 0;


}

p{


}

#blog{
border-top: 1px dotted #ccc;


}

.blog-post{
botder-bottomg: 1px dotted #ccc;

}