html {
    background-color: #f4d5ab;

}

body {
font-family: Georgia, 'Times New Roman', Times, serif;
margin: 40px;
padding: 40px;
color: #242424;

}

h1{
font-size: 2cm;
margin: 0cm;
color: rgb(0, 0, 0);


}

h2 {
font-size: 1.5cm;
margin-top: 0cm;
margin-bottom: 0cm;
padding-bottom: .25cm;

}

table{
border: 1px solid black;
border-collapse: collapse;

}

section{
background: #ccc;
display: flex;

}
p{


}

.menu{
color: gray;
margin: 0cm;
padding: 0cm;
position: sticky;


}

.menu{
float: left;

}

.blog{
color: black;

}


article {
    border-top: 5px solid #e3e3e3;
    border-bottom: 5px solid #e3e3e3;
    background-color: aquamarine;
    text-align: center;
padding: 20px;
margin: 20px;

}

article:nth-of-type(1) {
    flex: 1;
}

article:nth-of-type(2) {
    flex: 1;
}

#sweetbeanpaste{
height: 100px;
width: 100px;

}
